* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: rgb(157, 255, 0);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;

}

body {
    background-color: var(--bg-color);
    color: var(--text-color);

}

body.futuro-projeto{
    background-image: url('../imagens/manutencao.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100vh;
    background-color: #15202b;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
section.inicio {
    background-image: url('../imagens/plano-de-fundo.webp');
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.guardar {
    border-bottom: .3rem solid var(--main-color);
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.ativo {
    color: var(--main-color);
}

#menu-icones {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio-img img {
    width: 30vw;
    animation: FloatImage 4s ease-in-out infinite;
}

@keyframes FloatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}
.inicio-img img:hover{
    width: 31vw;
    transition: .3s;
}

.inicio-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.inicio-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.inicio-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.inicio-content p {
    font-size: 1.6rem;
}

.midia-social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.midia-social a:hover {
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow:  0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--second-bg-color);
}

.sobre-img img{
    width: 30vw;
}

.cabecario {
    text-align: center;
    font-size: 4.5rem;
}

.sobre-content h2{
    text-align: left;
    line-height: 1.2;
}

.sobre-content h3{
    font-size: 2.6rem;
}

.sobre-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.servicos h2{
    margin-bottom: 5rem;
}

.servicos-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.servicos-container .servicos-box {
    display:grid;
    flex: 1 1 30rem;
    background-color: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.servicos-container .servicos-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.servicos-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.servicos-box h3 {
    font-size: 2.6rem;
}

.servicos-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.portfolio {
    background: var(--second-bg-color);
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-banner {
  
    width: 100%;
    height: 55vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.portfolio-banner .portfolio-slider {
    position: absolute;
    top: 10%;
    width: 200px;
    height: 125px;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateX(-9deg);
    transition: 1s;
}

.portfolio-banner .portfolio-slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform:
            rotateY(calc((var(--position) - 1 ) * (360 / var(--quantity)) * 1deg))
            translateZ(480px);
    background-color: #15202b;
}

.bataoFoto {
    text-align: center;
}

.btnAnteFt, .btnProxFt, .btnVolt {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btnProxFt:hover,
.btnAnteFt:hover,
.btnVolt:hover {
    box-shadow:  0 0 1rem var(--main-color);
}

.portfolio-slider img {
    box-shadow:  0 0 1rem var(--main-color);
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #15202b;
}

.portfolio-slider:hover img {
    transform: scale(1.1);
    cursor: pointer;
}


.btnAnteFt.animacao {
    color: green;
}
.portfolio-slider .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-slider:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contato h2 {
    margin-bottom: 3rem;
}

.contato form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contato form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contato form .input-box input,
.contato form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contato form .input-box input {
    width: 49%;
}

.contato form textarea {
    resize: none;
}

.contato form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.texto-rodape p {
    font-size: 1.6rem;
}

.rodape-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.rodape-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.rodape-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

/* PONTOS DE INTERRUPÇÃO */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .servicos {
        padding-bottom: 7rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }
     .contato {
        min-height: auto;
     }

    .rodape {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icones {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.ativo {
        display: block;
    }


    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .inicio {
        flex-direction: column;
    }
    
    .inicio h3 {
        font-size: 2.6rem;
    }

    .inicio h2 {
        font-size: 5rem;
    }

    .inicio-img img{
        width: 70vw;
        margin-top: 4rem;
    }

    .sobre {
        flex-direction: column-reverse;
    }

    .sobre {
        width: 100vw;
        margin-top: 4rem;
    }

    .servicos h2 {
        margin-top: 3rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-banner {
        grid-template-columns: repeat(2 ,1fr);
    }
}

@media (max-width: 617px) {
    .portfolio-banner {
        grid-template-columns: 1fr;
    }

    h1.txt-navegacao{
        display: none;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contato form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .inicio-img img {
        width: 90vw;
    }

    .sobre-img img {
        width: 90vw;
    }

    .rodape {
        flex-direction:column-reverse;
    }

    .rodape p {
        text-align: center;
        margin-top: 2rem;
    }

    .portfolio-slider .item {
        transform: translateZ(50px);
    }
}

/*=============mapa===============*/
#mapid { 
    height: 350px;
    width: 60%;
    border-left-style: solid;
    border-left-width: 2px;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-right-width: 2px;
    border-right-style: solid;
    border-color: var(--main-color);
    margin: auto;
    display: block;    
 }
.leaflet-top{
  display: none;
}

.leaflet-routing-alt h3 {
    color: red;
}
.leaflet-bottom.leaflet-right{
  display: none;
}

/*linha do mapa*/
path.leaflet-interactive{
  stroke: blue;
  stroke-width: 3;
}

#distancia {
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    color: var(--main-color);
}

#txtDistancia{
    text-align: center;
    font-size: 20px;
    color: var(--main-color);
}
#km{
    text-align: center;
    font-size: 20px;
    color: var(--main-color);
}

.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive.leaflet-marker-draggable{
    display: none;
}
#mensagem-status.fade {
    opacity: 1;
}

#loader {
    font-style: italic;
    color: blue;
}
.fade {
    opacity: 1 !important;
    transition: opacity 0.5s ease-in-out;
}
.btn-github{
    color: white;
    background-color: black;
    border-radius: 5px;
    box-shadow: none;
    margin: 3rem 0 3rem 0;
    transition: .5s ease;
}
.btn-github:hover{
    color: white;
    background-color: black;
    border-radius: 5px;
    box-shadow: none;
    margin: 3rem 0 3rem 0;
    font-size: 15px;
}
.txt-reptile{
    color: var(--main-color);
    opacity: 5%;
}
h1.txt-navegacao{
    font-size: 2rem !important;
    color: var(--main-color);
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }