# Arquivo de ambiente
.env

# Pastas do Composer
/vendor/

# Cache do PHP
*.log
*.cache

# Arquivos temporários
*.tmp
*.bak

# Arquivos do sistema/macOS/VS Code
.DS_Store
.vscode/

# Banco de dados SQLite local (se usar)
*.sqlite
*.sqlite3
